.head {
    background: #4088ca;
}

.head a {
    color: #fff;
}

td svg {
    color: #4088ca;
    cursor: pointer;
}

th {
    font-weight: bold;
}


th,
td {
    color: #2969c9;
    text-align: center;
}

.form-title {
    background-color: #fff;
    color: #2969c9;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}