<!--start nav -->
<div class="head p-4 px-5 d-flex justify-content-between align-items-md-center flex-md-row flex-column">
  <div class="d-flex justify-content-between">
    <h3 class="text-white text-uppercase">Hello! Admin</h3>
    <a class="ms-3 d-md-none d-inline"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <button class="p-2 px-3 btn btn-outline-light m-md-0 mt-3 w-100" routerLink="/dashboard/addFilm">
      Add Film
    </button>
    <a class="ms-3 d-md-inline d-none" routerLink="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
  </div>
</div>
<!--end nav -->

<div class="container my-5">
  <h3 class="form-title p-4 w-100">Films Information</h3>
  <div class="table-responsive mb-5">
    <table id="dtOrderExample" class="table table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Director</th>
          <th scope="col">Duration</th>
          <th scope="col">Release Date</th>
          <th scope="col">NO.Chairs</th>
          <th scope="col">NO.Booking</th>
          <th scope="col">With Food</th>
          <th scope="col">Chair Price</th>
          <th scope="col">Food Price</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of filmsData">
          <td class="py-3">{{ film.title }}</td>
          <td class="py-3">{{ film.director }}</td>
          <td class="py-3">{{ film.duration }}</td>
          <td class="py-3">{{ film.releaseDate }}</td>
          <td class="py-3">{{ film.numberOfChairs }}</td>
          <td class="py-3">{{ getNoBooking(film) }}</td>
          <td class="py-3">{{ getWithFood(film) }}</td>
          <td class="py-3">{{ film.chairPice }}</td>
          <td class="py-3">{{ film.foodPrice }}</td>
          <td class="py-3" routerLink="/dashboard/editFilm/{{ film.id }}">
            <i class="fa-regular fa-pen-to-square"></i>
          </td>
          <td class="py-3" (click)="delete(film.id)">
            <i class="fa-solid fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <h3 class="form-title p-4 w-100">Chairs Information</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Film ID</th>
          <th scope="col">Book</th>
          <th scope="col">Food</th>
          <th scope="col">User Email</th>
          <th scope="col">Username</th>
          <th scope="col">User Phone</th>
        </tr>
      </thead>
      <tbody *ngFor="let film of filmsData">

        <tr *ngFor="let chair of film.chairs">
          <td class="py-3">{{ chair.id }}</td>
          <td class="py-3">{{ chair.filmID }}</td>
          <td class="py-3">{{ chair.wantBook}}</td>
          <td class="py-3">{{ chair.wantFood }}</td>
          <td class="py-3">{{ chair.userEmail }}</td>
          <td class="py-3">{{ chair.username }}</td>
          <td class="py-3">{{ chair.phone }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<script src="extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>