.head {
    background: #4088ca;
}

.head a {
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-title {
    background-color: #fff;
    color: #2969c9;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form {
    width: 80%;
    position: relative;
}

.form-title {
    margin-bottom: 33px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #2969c9;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    font-family: Poppins;
    box-sizing: border-box;
}

input,
select{
    outline: none;
}

.form-submit {
    background: #4088ca;
    color: #fff;
    border-bottom: none;
    width: 100%;
    padding: 15px 39px;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #3171cf;
}

.form-submit:active {
    background-color: #4088ca;
}

@media (max-width: 767px) {
    .form {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .form {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.alert {
    position: absolute;
    width: 90%;
    text-align: center;
    padding: 30px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}